html{
    height:100%;
}
body{
    background: url("../src/restaurantBackground.jpeg.jpeg") no-repeat center center fixed;
    background-size:cover;
    width:99.2%;
    min-height:100%;
}
#content{
    width:100%;
    height: 100%;
}
h1{
    color:white;
    text-shadow:black 2px 2px 2px;
    text-align: center;
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 2.3rem;
    font-weight: bolder;
}

.nav-bar{
    width:100%;
    display:flex;
    background-color:white;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: bold;
}

.home-content{
    visibility: hidden;
    width:60%;
    position: absolute;
    right:50%;
    top:30%;
    transform: translateY(-30%);
    transform:translateX(50%);
    height: 20rem;
    background-color: white;
    border-radius: 10px;
    opacity: 0.9;
    text-align: center;
    font-size: 1rem;
    padding: 1em 1em;
    font-style: italic;
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
}

 img{
    width:8rem;
    height:6rem;
    border-radius: 10px;
}

#order-now{
    font-weight: bolder;
    font-style: normal;
}
.menu-content{
    display:flex;
    flex-flow: row wrap;
    width:80%;
    min-height:50%;
    background-color: rgb(236, 225, 225);
    opacity: 0.85;
    position: absolute;
    right:50%;
    justify-content: space-around;
    align-items: center;
    top:25%;
    border-radius: 10px;
    padding: 1em 1em;
    transform: translateY(-25%);
    transform:translateX(50%);
}
.menu-card{
    opacity: 1;
    width:48%;
    margin-top:1em;
    min-width:9.1rem;
    margin: 0em 0.1em;
    background-color: rgb(41, 32, 32);
    border-radius: 10px;
    text-align: center;
    font-size: 0.6rem;
    font-style: italic;
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: space-around;
}

.menu-card > p{
    font-weight: bolder;
    color:white;
}
@media screen and (max-width: 320px) {
    .menu-content{
        min-height: 45%;
    
    }
    .menu-card{
        width:80%;
        margin-top: 0.5em;
    }
   
 }
@media screen and (min-width: 768px) {
    .menu-content{
        min-height: 45%;
    }
    .menu-card{
        font-size: 1.1rem;
        margin-top: 0.5em;

    }
    .menu-card > img{
        width:10rem;
        height:9rem;
        border-radius: 10px;

       }
 }
@media screen and (min-width: 1000px) {
   .menu-content{
       min-height: 20%;
   }
   .menu-card{
       margin-top: 1em;
       font-size:1.3rem;
       margin-top: 0.5em;

   }
   .menu-card > img{
    width:16rem;
    height:15rem;
    border-radius: 10px;
   }
 
}

